<mat-card class="LoginCard">
    <img src="https://i.pinimg.com/originals/8e/68/84/8e6884d2e23cedbe57ec22530dd9f217.jpg" alt="" srcset=""
        class="logoImage">

    <h4 id="header">
        Recover Account
    </h4>
    <p>
        <mat-form-field appearance="outline" style="width: 8cm;" class="FormField">
            <mat-label>Enter Email</mat-label>
            <input matInput type="text" #Inputform placeholder="Enter Email">
        </mat-form-field>
    </p>
    <p id="paragraph">
        Not your computer? Use a Private Window to sign in <br>
        <a href="#">Learn More</a>
    </p>
    <button mat-stroked-button (click)="submit(Inputform.value)" class="submitButton">Search Account</button>
</mat-card>